body {
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

video {
    border-radius: 8px;
    box-shadow: #00000020 1px 1px 10px;
}

.copy {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 1em;
    box-shadow: #00000020 1px 1px 10px;
    border-radius: 5px;
}

#remoteVideo {
    width: 100%;
    max-height: 100vh;
}

#localVideo {
    position: fixed;
    top: 2em;
    right: 2em;
    height: 10em;
}

@media screen and (max-width: 800px) {
    #localVideo {
        height: 5em;
    }
}