* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.call {
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

video {
    border-radius: 8px;
    box-shadow: #00000020 1px 1px 10px;
}

.copy {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 1em;
    box-shadow: #00000020 1px 1px 10px;
    border-radius: 8px;
}

#remoteVideo {
    width: 100%;
    max-height: 100vh;
}

#localVideo {
    position: fixed;
    top: 2em;
    right: 2em;
    height: 10em;
}

.end {
    position: fixed;
    bottom: 2em;
    width: 4em;
    height: 4em;
    background-color: rgb(223, 68, 68);
    color: white;
    border: none;
    border-radius: 1000px;
    box-shadow: #00000020 1px 1px 10px;
    cursor: pointer;
}

.home {
    text-align: center;
}

.home * {
    margin: 1em 0;
}

.home button {
    border: none;
    height: 2.4em;
    cursor: pointer;
}

.home button:hover {
    background-color: #77a9eb;
}

.home input {
    border: none;
    border-bottom: 2px solid grey;
    height: 2em;
    padding: .2em;
    width: 6em;
}

@media screen and (max-width: 800px) {
    #localVideo {
        height: 5em;
    }
}